<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAndroid"
        tools:targetApi="31">
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:theme="@style/MyStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.LoginActivity" />
        <activity android:name=".presentation.GridActivity" />
        <activity android:name=".presentation.HomeActivity" />
        <activity android:name=".presentation.ProfileActivity" />
        <activity android:name=".presentation.RegisterActivity" />
        <activity android:name=".presentation.HomeMainActivity" />
        <activity android:name=".presentation.message.view.DetailTransactionActivity" />
    </application>

</manifest>
